@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Login Error</h1>
<span>These are invalid credentials. The user must login with an Info Support Domain.</span>

<div class="btn-wrapper">
    <a class="btn btn-default" asp-area="AzureAD" asp-controller="Account" asp-action="SignIn">Use different account</a>
</div>