@using System.Security.Claims
@{
    ViewData["Title"] = "Home Page";

    // Cast the current user to a claims identity.
    var identity = User.Identity as ClaimsIdentity;
}

<h1>User information</h1>

<!-- Loop through al the information of the user. -->
<table>
    @foreach (var claim in identity.Claims)
    {
        <tr>
            <th>@claim.Type</th>
            <td>@claim.Value</td>
        </tr>
    }
</table>

